/* tree-sitter-ts-highlight - Catppuccin Mocha Theme */

.hlts.hlts-catppuccin-mocha {
  background: #1e1e2e;
  color: #cdd6f4;
}

.hlts-catppuccin-mocha .hlts-keyword {
  color: #cba6f7;
  font-weight: bold;
}

.hlts-catppuccin-mocha .hlts-identifier {
  color: #cdd6f4;
}

.hlts-catppuccin-mocha .hlts-string {
  color: #a6e3a1;
}

.hlts-catppuccin-mocha .hlts-number {
  color: #fab387;
}

.hlts-catppuccin-mocha .hlts-comment {
  color: #6c7086;
  font-style: italic;
}

.hlts-catppuccin-mocha .hlts-operator {
  color: #89dceb;
}

.hlts-catppuccin-mocha .hlts-punctuation {
  color: #9399b2;
}

.hlts-catppuccin-mocha .hlts-type {
  color: #f9e2af;
}

.hlts-catppuccin-mocha .hlts-decorator {
  color: #f5c2e7;
}

.hlts-catppuccin-mocha .hlts-tag {
  color: #89b4fa;
}

.hlts-catppuccin-mocha .hlts-attribute {
  color: #f2cdcd;
}

.hlts-catppuccin-mocha .hlts-meta {
  color: #6c7086;
}

.hlts-catppuccin-mocha .hlts-regexp {
  color: #f5c2e7;
}

.hlts-catppuccin-mocha .hlts-escape {
  color: #fab387;
  font-weight: bold;
}

.hlts-catppuccin-mocha .hlts-variable {
  color: #f38ba8;
}

.hlts-catppuccin-mocha .hlts-constant {
  color: #fab387;
}

.hlts-catppuccin-mocha .hlts-error {
  color: #f38ba8;
  text-decoration: wavy underline;
}

.hlts-catppuccin-mocha .hlts-plain {
  color: #cdd6f4;
}

.hlts-catppuccin-mocha .hlts-line-number {
  color: #585b70;
  border-right: 1px solid #313244;
  user-select: none;
  -webkit-user-select: none;
}

.hlts-catppuccin-mocha .hlts-table tr:hover {
  background: rgba(255, 255, 255, 0.03);
}